<!DOCTYPE html>
<!--
    Example Jinja2 template to generate an HTML document with content interpolated from Ansible variables.

    Copyright 2024 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
    SPDX-License-Identifier: CC-BY-SA-4.0 OR LicenseRef-Apache-2.0-If-Not-Used-In-Template-Projects
-->
<html>
<head>
    <title>Hello, {{ name }}!</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <p>You are {{ age }} years old.</p>
</body>
</html>
